<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/NFINCCO/">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCP9FzyC-AXK1ZeslIFg0dYA">Youtube</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>
                        Copyright 2023 Social Blogs Co. | Design:
                        <a rel="nofollow" href="https://www.facebook.com/NFINCCO/" target="_parent">NightFury</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>